@model kidsChart2.Models.Items

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueBy" class="control-label"></label>
                <input asp-for="DueBy" class="form-control" />
                <span asp-validation-for="DueBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDaily" /> @Html.DisplayNameFor(model => model.IsDaily)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SpecificDate" class="control-label"></label>
                <input asp-for="SpecificDate" class="form-control" />
                <span asp-validation-for="SpecificDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div style="padding-top:50px">
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemId" />
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
