@model kidsChart2.Models.HistoryItem

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>HistotyItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HistoryItemId" />
            <input type="hidden" asp-for="DayItem" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDone" /> @Html.DisplayNameFor(model => model.IsDone)
                    </label>
                </div>
            </div>
            @*<div class="form-group">
                <label asp-for="IconPath" class="control-label"></label>
                <input asp-for="IconPath" class="form-control" />
                <span asp-validation-for="IconPath" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div style="padding-top:50px">
    <form asp-action="Delete">
        <input type="hidden" asp-for="HistoryItemId" />
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
